.popup__btn-close {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
    border: none;
    width: 32px;
    height: 32px;
    background: none;
    background-image: url(../../../images/btn-close.svg);
    background-size: cover;
    transition: 0.4s;
}

.popup__btn-close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width:575px) {
    .popup__btn-close {
        top: -36px; 
        right: 0; 
        width: 20px;
        height: 20px;
    }
}