.profile__edit-button {
    margin: 5px 0 0 18px;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/Edit-Button.svg);
    background-size: cover;
    background-color: transparent;
    align-self: center;
    border: none;
    transition: 0.4s;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width:700px) {
    .profile__edit-button {
        margin: 0;
        position: absolute;
        right: -39px;
        top: 9px;
    }
}

@media screen and (max-width:400px) {
    .profile__edit-button {
        right: -29px;
        width: 18px;
        height: 18px;
    }
}