.photo-grid {
    max-width: 880px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    gap: 20px 17px;
    margin: 51px auto 0 auto;
}

@media screen and (max-width:950px) {
    .photo-grid {
        box-sizing: border-box;
        max-width: calc(100vw - (100vw - 100%));
        padding: 0 19px;
        justify-content: center;
    }
}



@media screen and (max-width:320px) {
    .photo-grid {
        margin-top: 36px;
    }
}