.profile__name-area {
    position: relative;
    display: flex;
    flex-direction: row;
    grid-area: name-area;
    align-items: baseline;
    transition: 0.4s;
}

@media screen and (max-width:700px) {
    .profile__name-area {
        margin-top: 23px;
    }
}