.photo-grid__invisible-box {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.photo-grid__invisible-box:hover + .photo-grid__icon {
    opacity: 0.6;
    cursor: pointer;
}

.photo-grid__invisible-box:checked + .photo-grid__icon {
    background-image: url(../../../images/icon-heart-black.png);
}