.form__profile-info {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 34px 36px 37px 36px;
}

@media screen and (max-width:575px) {
    .form__profile-info {
        padding: 25px 22px;
    }
}