.card__delete-icon {
    width: 19px;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: 0.6s;
    z-index: 1;
  }
  
  .card__delete-icon:hover {
    opacity: 0.6;
    cursor: pointer;
  }