.header {
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding-bottom: 41px;
    margin: 45px auto 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 320px) {
    .header {
        max-width: calc(100vw - (100vw - 100%));
        margin-top: 28px;
        padding-bottom: 31.6px;
    }
}