.popup__btn-close {
    margin: 0 0 8px 470px;
    padding: 0;
    border: none;
    width: 32px;
    height: 32px;
    background: none;
    background-image: url(../../../images/btn-close.svg);
    background-size: cover;
    transition: 0.4s;
}

.popup__btn-close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width:575px) {
    .popup__btn-close {
        margin-left: 265px;
        width: 20px;
        height: 20px;
    }
}